{% extends "sosjujuy/base_site.html" %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Generar Notificación</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br/>
                            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                                <div class="form-group">
                                    <div class="  col-md-7 col-sm-3 col-xs-12"></div>
                                    <div class="  col-md-2 col-sm-3 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            <input id="date" type="datetime" class="form-control" name="date"  readonly="true" value="dd-mm-yyyy">
                                        </div>
                                    </div>
                                    <div class="  col-md-3 col-sm-3 col-xs-12"></div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <div class="col-md-1">
                                    <span class="text-nowrap">
                                        <i class="glyphicon glyphicon-user"></i>
                                    <label class="control-label text-uppercase">Destinatario</label>
                                    </span>
                                        </div>
                                        <select class="form-control alert-success col-md-3 col-sm-6 col-xs-12" >
                                            <option value="Ministerio">Ministerio de Salud de Jujuy</option>
                                            <option value="Secretaria">Secretaria</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <div class="col-md-1">
                                    <span class="text-nowrap">
                                        <i class="glyphicon glyphicon-bookmark"></i>
                                    <label class="control-label text-uppercase">Categoría</label>
                                    </span>
                                        </div>
                                        <select class="form-control col-md-3 col-sm-6 col-xs-12" >
                                            <option selected="true" value="" disabled>Seleccione una Categoría</option>
                                            <option value="Talleres">Talleres de Extensión</option>
                                            <option value="Urgente">Atención Urgente</option>
                                            <option value="Extraordinaria">Situación Extraordinaria</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="  col-md-2 col-sm-3 col-xs-12"></div>
                                    <div class="  col-md-10 col-sm-3 col-xs-12">
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <textarea class="form-control rounded-0 col-md-7 col-xs-12"
                                                      id="first-name" rows="15" required="required">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>

                                <!--<div id="document" class="input-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-expanded="false">Tipo Documento <span
                                                class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="#">DNI</a>
                                            </li>
                                            <li><a href="#">Pasaporte</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="text" aria-label="Text input with dropdown button"
                                           class="form-control">
                                </div>-->


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Sexo</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div id="gender" class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default" data-toggle-class="btn-primary"
                                                   data-toggle-passive-class="btn-default">
                                                <input type="radio" name="gender" value="male"> &nbsp; Hombre &nbsp;
                                            </label>
                                            <label class="btn btn-primary" data-toggle-class="btn-primary"
                                                   data-toggle-passive-class="btn-default">
                                                <input type="radio" name="gender" value="female"> Mujer
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha de Nacimiento <span
                                            class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="birthday" class="date-picker form-control col-md-7 col-xs-12"
                                               required="required" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Familiar </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="relative" class="form-control col-md-7 col-xs-12" type="text">
                                    </div>
                                    <button class="btn btn-primary" type="button">Buscar</button>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <button class="btn btn-danger" type="button">Cancelar</button>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                                        <button class="btn btn-primary" type="reset">Limpiar todo</button>
                                        <button type="submit" class="btn btn-success">Enviar Notificación</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}