{% extends "sosjujuy/base_site.html" %}

{% block content %}
    <div class="right_col" role="main">
        <form method="post" id="notificacionForm" novalidate  enctype="multipart/form-data">
            <div class="">
                <div class="page-title">
                    <div class="col-md-4">
                        <h3>Registrar Notificación</h3>
                        <input type="hidden" name="usuario" value="user" id="usuario">
                    </div>
                </div>
                </br>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12" align="right">
                            <div class="x_panel border-aero">
                                {% csrf_token %}
                                <!--  Observacion, Archivo  -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-4" style="text-align: left;">
                                            <strong>Asunto:</strong>
                                        </div>
                                        <div class="col-md-8" style="text-align: left;">
                                            {{ form.asunto }}
                                            <a style="color:red">
                                                {{ form.asunto.errors }} 
                                            </a>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-4" style="text-align: left;">
                                            <strong>Archivo:</strong>
                                        </div>
                                        <div class="col-md-8" style="text-align: left;">
                                            {{ form2.archivo }}
                                            <a style="color:red">
                                                {{ form2.archivo.errors }} 
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--  Escala, Escala2  -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-4" style="text-align: left;">
                                            <strong>Escala1:</strong>
                                        </div>
                                        <div class="col-md-8" style="text-align: left;">
                                            {{ form.escala }}
                                            <a style="color:red">
                                                {{ form.escala.errors }} 
                                            </a>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-4" style="text-align: left;">
                                            <strong>Escala2:</strong>
                                        </div>
                                        <div class="col-md-8" style="text-align: left;">
                                            {{ form.escalaDos }}
                                            <a style="color:red">
                                                {{ form.escalaDos.errors }} 
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  Asunto,   -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-4" style="text-align: left;">
                                            <strong>Observaciones:</strong>
                                        </div>
                                        <div class="col-md-8" style="text-align: left;">
                                            {{ form2.observacion }}
                                            <a style="color:red">
                                                {{ form2.observacion.errors }} 
                                            </a>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        &nbsp;
                                    </div>
                                </div>

                                <!--  Prestador, Beneficiario  -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-4" style="text-align: left;">
                                            <strong>Prestador:</strong>
                                        </div>
                                        <div class="col-md-8" style="text-align: left;">
                                            {{ form.prestador }}
                                            <a style="color:red">
                                                {{ form.prestador.errors }} 
                                            </a>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-4" style="text-align: left;">
                                            <strong>Beneficiario:</strong>
                                        </div>
                                        <div class="col-md-8" style="text-align: left;">
                                            {{ form.beneficiario }}
                                            <a style="color:red">
                                                {{ form.beneficiario.errors }} 
                                            </a>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                    </div>
                                </div>

                                <!--  Prestador, Beneficiario  -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-4"></div>
                                            <div class="col-md-8" style="margin-top: 1rem">
                                                <div class="col-md-4">
                                                    <label for="id_escala">Nombre:</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" name="nombrePrestador" id="nombre_prestador">
                                                </div>
                                            </div>

                                            <div class="col-md-4"></div>
                                            <div class="col-md-8" style="margin-top: 1rem">
                                                <div class="col-md-4">
                                                    <label for="id_escala">Apellido:</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" name="ApellidoPrestador" id="apellido_prestador">
                                                </div>
                                            </div>

                                            <div class="col-md-4"></div>
                                            <div class="col-md-8" style="margin-top: 1rem">
                                                <div class="col-md-4">
                                                    <label for="id_escala">Documento:</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" name="documentoPrestador" id="documento_prestador">
                                                </div>
                                            </div>

                                            <div class="col-md-4"></div>
                                            <div class="col-md-8" style="margin-top: 1rem">
                                                <div class="col-md-4">
                                                    <label for="id_escala">Matricula:</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" name="matriculaPrestador" id="matricula_prestador">
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-8" style="margin-top: 1rem">
                                            <div class="col-md-4">
                                                <label for="id_escala">Nombre:</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" name="nombreBeneficiario" id="nombre_beneficiario">
                                            </div>
                                        </div>

                                        <div class="col-md-4"></div>
                                        <div class="col-md-8" style="margin-top: 1rem">
                                            <div class="col-md-4">
                                                <label for="id_escala">Apellido:</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" name="apellidoBeneficiario" id="apellido_beneficiario">
                                            </div>
                                        </div>

                                        <div class="col-md-4"></div>
                                        <div class="col-md-8" style="margin-top: 1rem">
                                            <div class="col-md-4">
                                                <label for="id_escala">Documento:</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" name="documentoBeneficiario" id="documento_beneficiario">
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class=" col-md-6">
                        <button type="button" class="btn btn-primary col-md-3 border-dark" id="enviar_form"><b>Enviar</b></button>
                        <button type="button" class="btn btn-primary col-md-3 border-dark" id="guardar_form"><b>Guardar</b></button>
                        <a href="{% url 'notificacion_changelist' %}" class="btn btn-danger col-md-3 border-dark">Cancelar</a>
                    </div>
                </div>
                <script>
                    function comprobarNombre(valor, campo) {

                        var mensaje = "";

                        // comprobar los posibles errores
                        if ("" === this.value) {
                            mensaje = "El email no puede estar vacío";
                        } else if (this.value.indexOf("@") < 0) {
                            mensaje = "El email debe contener una @";
                        } else if (this.value.indexOf(".com", this.value.indexOf("@")) < 0) {
                            mensaje = "El email debe contener .com detras de la @";
                        }
                        // mostrar/resetear mensaje (el mensaje se resetea poniendolo a "")
                        this.setCustomValidity(mensaje);
                    }
                </script>
            </div>
        </form>
    </div>
{% endblock content %}